/* Global */

body {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  background-color: #A15E2B;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #424547;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #424547;
}

h3 {
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #424547;
}

p {
 font-size: 16px;
}

input {
  font-size: 24px;
}

input[type=text] {
  color: #424547;
  border: 1px solid #c2c2c2;
  background-color: white;
}

em {
  font-style: normal;
  font-weight: bold;
  color: black;
}

/* Chat */
#usrId {
  width:25%;background-color:black;
}
#pswd {
  width:25%;background-color:black;
}

#messagesDiv {
  background-color: white;
  overflow: auto;
  height: 230px;
  width: 100%;
  padding: 10px;
  border: 8px solid #7CABFF;
  margin-bottom: 5px;
  text-align: left;
}

#nameInput {
  width: 26%;
}

#messageInput {
  width: 68%;
}
/*
body{
  border:solid 6px grey;
  padding:20px;
  margin:13px;
  height:100%;
}
.batch{
  background:orange;
  cursor:pointer;
}
p{
  display:none;
  background: #fffaf8;
  line-height:24px;
  margin-top:0px;
  margin-bottom: 0px;
  font-size:14px;
  border:solid 1px lightgrey;
  padding:2px;
}
iframe{
  height:0px;width:50%;
}
input{
  display:block;
}
input:first-of-type{
  display:inline-block;border:solid 2px red;
}
#cols{
  float:right;
}
span{
  z-index:-200;
  background:#444;
  width:100%;
  padding:4px;
  border-radius:16px;
  font-size:24px
}
span:nth-child(2n+1){
  background:#aaa;
}
#messagesDiv{
  border:none;
  width:96%;
  line-height:100%;
  background:grey;
  padding:12px;
}
.name{
  display:inline-block;
  width:44%;
  margin:0px;
  padding:0px;
}
.numberInput{
  display:inline-block;
  width:90%;
  margin:0px;
  padding:0px;
}
div{
  z-index:200;
  -webkit-box-shadow:  3px 1px 1px 1px rgba(0, 0, 0, .5);
          box-shadow:  3px 1px 1px 1px rgba(0, 0, 0, .5);
  display:inline-block;
  font-size:18px;
  vertical-align:bottom;
  border-radius:6px;
  background:white;
  padding:4px;
  margin:4px;
  border:solid 1px black
}
textarea{
  display:inline-block;
  position:absolute;
  width: 320px;
  height: 70px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
 }   
 
 */
